html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

header {
    position: sticky;
    width: 100%;
    top: 1;
}

footer {
    position: sticky;
    width: 100%;
    bottom: 0;
}

li {
    padding: 1px;
}

.myMenu {
    position: fixed;
    height: 100%;
    left: 2;
}

.myMenu .nav-link:hover {
    background-color: #0a33a3 !important
}

.nav-link .fa {
    transition: all 1s
}

.nav-link:hover .fa {
    transform: rotate(360deg)
}

.chart-container {
    width: 600px;
    height: 600px;
}

.chart-container-dos {
    width: 800px;
}

.code-container {
    width: 800px;
}