<p>
  <code>Chart.js</code> is a javascript library that allows us to
  <i>easily</i> create charts for a better UI.
  <br />
  As we dive more in the basics of the library we will see some of the
  advantages of adding a library to our projects. <br />
  So far we have engaged with Javascript libraries on this semester. We learned
  on JQuery and Alpine; we made use of its functionalities and realize how easy
  made our jobs at the time of writting code.
  <br />
  This website itself made use of
  <code>Bootstrap</code>, <code>JQuery</code>, <code>highlight.js</code> as it
  amalgams it all with <b>Chart.js</b> to improve <i>"Time saving"</i> for the
  developer.
  <br />
  <br />
  As Developers we have to learn to take advantages of this open chunks of code
  that will make our lives easier.
</p>
<h5>Security</h5>
<p>
  Some of the libraries are there to promote the use of certain products. For
  example: <code>PayPal</code>; Paypal has its own library to make easier the
  life of the developer by being able to embed a whole checkout GUI in a
  website. I personally find that mind-blowing. I took on programming to help my
  financial situation and move unto passive income. Libraries like PayPal or
  others like <code>Stripe</code> let us move unto the next stage of the
  development without worrying about how we can secure our app.
</p>
<br />
<p>
  The current graph is a sample of how useful this library is when it comes to
  data visualization.
</p>
<br />
<canvas id="introChart"></canvas>
<script>
  const ctx0 = document.getElementById("introChart");
  //   ctx0.parentNode.style.width = "400px";
  //   ctx0.parentNode.style.width = "400px";
  ctx0.getContext("2d");

  const introChart = new Chart(ctx0, {
    type: "radar",
    data: {
      labels: [
        "Kung-Fu",
        "Dog-poop scooping",
        "Skateboarding",
        "Motorcycle riding",
        "Programming",
        "Languages",
      ],
      datasets: [
        {
          label: "Skills Matrix",
          data: [12, 19, 2, 12, 15, 12],
          backgroundColor: [
            "rgba(140, 240, 122, 0.2)",
            "rgba(54, 162, 235, 0.2)",
            "rgba(255, 206, 86, 0.2)",
            "rgba(75, 192, 192, 0.2)",
            "rgba(153, 102, 255, 0.2)",
            "rgba(255, 159, 64, 0.2)",
          ],
          borderColor: [
            "rgba(140, 240, 122, 1)",
            "rgba(54, 162, 235, 1)",
            "rgba(255, 206, 86, 1)",
            "rgba(75, 192, 192, 1)",
            "rgba(153, 102, 255, 1)",
            "rgba(255, 159, 64, 1)",
          ],
          borderWidth: 2,
        },
      ],
    },
  });
</script>
<p>The code for this sample is very easy to understand and intuitive/</p>
<pre>
    <code class="language-javascript">
const ctx0 = document.getElementById("introChart");
//   ctx0.parentNode.style.width = "400px";
//   ctx0.parentNode.style.width = "400px";
ctx0.getContext("2d");

const introChart = new Chart(ctx0, {
type: "radar",
data: {
labels: [
"Kung-Fu",
"Dog-poop scooping",
"Skateboarding",
"Motorcycle riding",
"Programming",
"Languages",
],
datasets: [
{
      }
    </code>
</pre>
